tbldefs/TBLPARAMETRES.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="TBLPARAMETRES" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TBLPARAMETRES">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="PrimaryKey" index-key="ParType ParCode " primary="yes" unique="yes" clustered="no" order="asc asc"></od:index>
        <od:tableProperty name="OrderByOn" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="Description" type="10" value="Liste Des Parametres"></od:tableProperty>
        <od:tableProperty name="Orientation" type="2" value="0"></od:tableProperty>
        <od:tableProperty name="DefaultView" type="2" value="2"></od:tableProperty>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ParType" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1470"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Parametre Type"></od:fieldProperty>
              <od:fieldProperty name="Caption" type="12" value="Parametre Type"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ValidationRule" type="12" value="Is Not Null"></od:fieldProperty>
              <od:fieldProperty name="ValidationText" type="10" value="Le Champ Parametre Type Est Obligatoire"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="111"></od:fieldProperty>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"></od:fieldProperty>
              <od:fieldProperty name="RowSource" type="12" value="SELECT DISTINCT TBLPARAMETRES.ParType FROM TBLPARAMETRES; "></od:fieldProperty>
              <od:fieldProperty name="BoundColumn" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnCount" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnHeads" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidths" type="10" value="2268"></od:fieldProperty>
              <od:fieldProperty name="ListRows" type="3" value="8"></od:fieldProperty>
              <od:fieldProperty name="ListWidth" type="10" value="2268twip"></od:fieldProperty>
              <od:fieldProperty name="LimitToList" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="6"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ParCode" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="9750"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Parametre Code"></od:fieldProperty>
              <od:fieldProperty name="Caption" type="12" value="Parametre Code"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ValidationRule" type="12" value="Is Not Null"></od:fieldProperty>
              <od:fieldProperty name="ValidationText" type="10" value="Le Champ Parametre Code Est Obligatoire"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ParValeur" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1605"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Parametre Valeur"></od:fieldProperty>
              <od:fieldProperty name="Caption" type="12" value="Parametre Valeur"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="ValidationRule" type="12" value="Is Not Null"></od:fieldProperty>
              <od:fieldProperty name="ValidationText" type="10" value="Le Champ Parametre Valeur Est Obligatore"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="100"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ParValide" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2565"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Description" type="10" value="Parametre Valide (Oui/Non)"></od:fieldProperty>
              <od:fieldProperty name="Format" type="10" value="Yes/No"></od:fieldProperty>
              <od:fieldProperty name="Caption" type="12" value="Parametre Valide (Oui/Non)"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="=Yes"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ValidationRule" type="12" value="=Yes Or =No"></od:fieldProperty>
              <od:fieldProperty name="ValidationText" type="10" value="Le Champ Parametre Valide (Oui/Non) Est Invalide"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="106"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
